<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />

<form novalidate>
  <div class="card row card-row">
    <div class="card-header">
      <h2>Customer Items</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row mb-4">
            <div class="col-md-4">
              <ag-grid-angular style="width: 1300px; height: 500px;"
                               class="ag-theme-alpine"
                               [rowData]="rowData"
                               [gridOptions]="gridOptions"
                               [autoGroupColumnDef]="autoGroupColumnDef"
                               (gridReady)="onGridReady($event)"
                               id="customerItemsGrid">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
